* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  background: #896565;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* Title */
.title {
  color: #dacccc;
  flex: 1;
  text-align: center;
  margin-right: 50px;
  font-weight: bolder;
  unicode-bidi: isolate;
  margin-top: 28px;
  font-size: 50px;
  font-style: inherit;
}

.logo {
  position: absolute;
  top: 5px; /* Adjust this value to adjust the distance from the top */
  right: 2px; /* Adjust this value to adjust the distance from the right */
  height: 135px;
  width: 135px;
  border-radius: 70px;
  padding: 20px;
}
.container {
  position: relative;
  max-width: 1350px;
  width: 100%;
  padding: 15px;
  margin: 50px auto;
}

.filter_buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #dacccc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);
}

button.active {
  background: rgb(53, 53, 78);
  color: aliceblue;
}

.filterable_cards {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex-basis: 300px;
  background-color: #dacccc;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);
}

.card.hide {
  display: none;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-body {
  padding: 15px 20px 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.card-text {
  font-size: 16px;
  color: #333;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
